<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="Test">
    <classes>
      <class name="com.bestbuy.testcases.TC_01_NavigationToBestBuy"/>
      <class name="com.bestbuy.testcases.TC_02_ValidateURLIsNotBroken"/>
      <class name="com.bestbuy.testcases.TC_03_CreateAccountFunction"/>
      <class name="com.bestbuy.testcases.TC_04_SignInFunction"/>
      <class name="com.bestbuy.testcases.TC_05_ValidateAllMenuTitles"/>
      <class name="com.bestbuy.testcases.TC_06_ValidateLinksInBottom"/>
      <class name="com.bestbuy.testcases.TC_07_AddProductBySearch"/>
      <class name="com.bestbuy.testcases.TC_08_AddProductByDepartment"/>
      <class name="com.bestbuy.testcases.TC_09_AddProductByBrand"/>
      <class name="com.bestbuy.testcases.TC_10_PlaceOrderAndValidate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
